<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280227030943-io2bb1p3rj5upjupir1eq106saq1tp0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280227030943-io2bb1p3rj5upjupir1eq106saq1tp0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAd9cLGxDCQWPsJSKtsse2fvja99e9JmWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>280227030943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.cosimoorlacchio.Elektron</string>
	<key>PROJECT_ID</key>
	<string>elektron-9baec</string>
	<key>STORAGE_BUCKET</key>
	<string>elektron-9baec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280227030943:ios:de61db2dd5e15fa9</string>
	<key>DATABASE_URL</key>
	<string>https://elektron-9baec.firebaseio.com</string>
</dict>
</plist>